<p id="notice"><%= notice %></p>

<h1>Listing Subsites</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subsites.each do |subsite| %>
      <tr>
        <td><%= subsite.name %></td>
        <td><%= subsite.description %></td>
        <td><%= link_to 'Show', subsite %></td>
        <td><%= link_to 'Edit', edit_subsite_path(subsite) %></td>
        <td><%= link_to 'Destroy', subsite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subsite', new_subsite_path %>
