<p id="notice"><%= notice %></p>


<% @links.each do |link| %>

<h3><%= link_to link.title, link %><br>
	<h6 class="author">Submitted <%= time_ago_in_words(link.created_at) %> by <%= link.user.email %></h6>
	<div class="button">
	<%= link_to "Visit Link", link.url, class: "btn btn-primary btn-sm" %>
	<% if link.user == current_user %>
	<%= link_to "Edit", edit_link_path(link), class: "btn btn-warning btn-sm" %>
	<%= link_to "Delete", link, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
	<% end %>
	</div>

</h3>
<% end %>