<div class='container'>
<div class='col-xs-1'>
	<br><br>
<div class='text-right'><%= link_to like_link_path(@link), method: :put, class: "btn btn-default btn-xs" do %>
    <i class="fa fa-chevron-up"></i>
  <% end %><br>
	<%= @link.get_upvotes.size - @link.get_downvotes.size %>       <br>
  <%= link_to dislike_link_path(@link), method: :put, class: "btn btn-default btn-xs" do %>
    <i class="fa fa-chevron-down"></i>	
		<% end %></div>
</div>
<div class='col-xs-5'>
<h3><%= link_to @link.title, @link %><br>
	<h6 class="author">Submitted by <%= @link.user.name %></h6>
	<div class="button">
	<%= link_to "Visit Link", @link.url, class: "btn btn-primary btn-sm" %>
	
	<% if @link.user == current_user %>
	<%= link_to "Edit", edit_link_path(@link), class: "btn btn-warning btn-sm" %>
	<%= link_to "Delete", @link, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
	<% end %>
	</div>
</h3>
</div>

<br><br><br><br><br><br>
<h3 class='comments_title'>
	<%= @link.comments.count %> Comments
</h3>

<div id='comments'>
	<%= render :partial => @link.comments %>
</div>
<%= simple_form_for [@link, Comment.new] do |f| %>
	<div class='field'>
		<%= f.text_area :body, class: "form-control" %>
	</div>
	<br>
	<%= f.submit "Add Comment", class: "btn btn-primary" %>
<% end %>
	</div>