<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Ureedit", root_path %></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <% if user_signed_in? %>
          <li></li>
        	<li><%= link_to 'Account', edit_user_registration_path %></li>
   			  <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
		    <% else %>
    		  <li><%= link_to 'Sign up', new_user_registration_path %></li>
    		  <li><%= link_to 'Log in', new_user_session_path %></li>
		    <% end %>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><%= link_to 'Submit link', new_link_path %></li>
    </ul>
  </section>
</nav>